{
    "extends": "airbnb-base", 
    "rules": {
        "camelcase" : ["off", { "properties": "never" }],

        "import/first": "warn", 
        "import/prefer-default-export" : "off", 
        
        "max-len": ["error", 100, 2, {
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreRegExpLiterals": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }]
    }
}